rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userIsAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }
    match /configs/{config} {
      allow read: if userIsAdmin();
    }
    match /{collection}/{document} {
      allow read: if collection != "configs";
      allow write: if userIsAdmin();
    }
  }
}
