.reel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  position: relative;
}
.reel::after {
  content: ">";
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transform: translateX(100%);
}

.reel-item {
  background: rgba(51, 51, 51, 0.9);
  color: white;
  cursor: pointer;
  display: inline-block;
  flex-grow: 1;
  margin-right: 2px;
  padding: 0.5rem 1rem;
  text-align: center;
}
.reel-item.is-active {
  background: white;
  color: #333;
}