nav.navbar {
  background-color: transparent;
  color: white;
  top: 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.admin {
  nav.navbar {
    max-width: 100%;
    background-color: black;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
