$theme-colors: (
  "success": #cfe2ce,
);

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Pricedown";
  src: url("./fonts/pricedown bl.ttf");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-fluid {
  padding: 25px;
}

.yellow-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20vh;
  background-color: #f99c1c;
  z-index: -100;
}

.navbar-dark {
  background-color: black !important;
}

h1 {
  font-size: 3.5rem;
  font-family: "Pricedown";
  text-shadow: -0.2rem 0 white, 0 0.2rem white, 0.2rem 0 white, 0 -0.2rem white;
}

.navbar-brand {
  font-family: "Pricedown";
  color: black !important;
  text-shadow: -0.05rem 0 white, 0 0.05rem white, 0.05rem 0 white,
    0 -0.05rem white;
}
