$theme-colors: (
  "success": #cfe2ce,
);

$rockstar-yellow: #f99c1c;

@import "~bootstrap/scss/bootstrap";

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
}

@font-face {
  font-family: "Pricedown";
  src: url("./fonts/pricedown.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-fluid {
  padding: 25px;
}

.yellow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 14rem;
  background-color: $rockstar-yellow;
  z-index: -100;
}

.navbar-dark {
  background-color: black !important;
}

.pricedown {
  font-family: "Pricedown";
}

h1 {
  @extend .pricedown;
  font-size: 3.5rem;
  text-shadow: -0.2rem 0 white, 0 0.2rem white, 0.2rem 0 white, 0 -0.2rem white;
}

.navbar-brand {
  font-family: "Pricedown";
  color: black !important;
  text-shadow: -0.05rem 0 white, 0 0.05rem white, 0.05rem 0 white,
    0 -0.05rem white;
}

.input-group {
  .form-control {
    flex: 10000;
  }
}
